*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #fee6d4;
    min-width: 1000PX;
}
/*header*/
nav{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
nav > h3{
    font-size: 300;
}
.other-link{
    margin-top: 10px;
}
button.hire-me{
    color: #2d1303;
    background-color: #be7017;
    border: none;
    border-radius: 2px;
    height: 50px;
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 30px;

}
button.skill,.dcv{
    color: #2d1303;
    background-color: #be7017;
    border: none;
    border-radius: 2px;
    height: 50px;
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 30px;

}
a:hover{
    text-decoration: underline;
}
button.hire-me:hover, button.skill:hover, .dcv:hover{
    background-color: rgb(222, 134, 34);
}

button.skill{
    margin-top: 20px;
    margin-right: 10px;
}
section > a{
      margin-right: 10px;
}
.logo{
    margin-left: 90px;
    font-size: 45px;
    font-weight: 800;
}
main{
    display: inline-block;
}
article{
    margin-left: 120px;
    margin-right: 120px;
}
img.herdy{
    height: 600px;
    margin-top: 74px;
    margin-right: 100px;
    
}
.banner{
    display: flex;
}
header{
    margin-top: 10px;
    margin-left: 10px;
    height:  760px;
    width: 100%;
    background-image: url(images/header_bg.png), url(images/developer.png) ;
    background-repeat: no-repeat;
    background-position: right bottom,left;
}
h1.name{
    font-size: 300%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hi{
    font-size: 200%;
    margin-top: 180px;
    margin-bottom: 30px;
}
.about{
    margin: 10px 0;
    text-align: justify;
}
a.lmore{
    border: 2px solid #be7017;
    color: #be7017;
    border-radius: 2px;
    height: 50px;
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    align-content: center;
}
a.lmore:hover{
    text-decoration: none;
    color: #515050;
    background-color: #be7017;
}
.about,.whatdo{
    margin: 420px 200px 100px;
    text-align: center;
}
.aboutme{
    font-size: 200%;
    margin-bottom: 30px;
    text-align: center;
}
.allabout{
    margin-bottom: 30px;
    color: #515050;
}
table{
    margin: auto;
}
.tablec{
    color: #515050;
    display: flex;
    gap: 24px
}
.dopara{
    color: #515050;
}
.summery{
    margin: 420px 200px 100px;
}
.subtitle{
    text-align: left;
    margin-right: 30px;
}
.section{
    margin-right: 10px;
}
.sumblock{
    margin-top: 20px;
}
.year,.data{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #515050;
}
.dcv{
    margin-top: 10px;
    margin-left: 40%;
}
hr{
    border: 1px solid #d1c8c0;
}
.doblock > h3{
    margin: 15px;
}
.connect{
    margin-right: 15px;
}
.connect > p, .messege > form{
    margin-top: 10px;
    color: #515050;
}
input, textarea{
    margin-bottom: 10px;
    font-size: 14px;
    color: #515050;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #fee6d4;
    border-radius: 2px;
    background-color: #fee6d4;
}
.connect a{
    margin-right: 5px;
}