*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #fee6d4;
    min-width: 1000PX;
}
/*header*/
nav{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
nav > h3{
    font-size: 300;
}
.other-link{
    margin-top: 10px;
}
button.hire-me{
    color: #2d1303;
    background-color: #be7017;
    border: none;
    border-radius: 2px;
    height: 50px;
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 30px;

}
button.skill{
    color: #2d1303;
    background-color: #be7017;
    border: none;
    border-radius: 2px;
    height: 50px;
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 30px;

}
a:hover{
    text-decoration: underline;
}
button.hire-me:hover, button.skill:hover{
    background-color: rgb(222, 134, 34);
}

button.skill{
    margin-top: 20px;
    margin-right: 10px;
}
section > a{
      margin-right: 10px;
}
.logo{
    margin-left: 90px;
    font-size: 45px;
    font-weight: 800;
}
main{
    display: flex;
}
article{
    margin-left: 120px;
    margin-right: 120px;
}
img.herdy{
    height: 600px;
    margin-top: 74px;
    margin-right: 100px;
    
}
.banner{
    display: flex;
}
header{
    margin-top: 10px;
    margin-left: 10px;
    height:  760px;
    width: 100%;
    background-image: url(images/header_bg.png), url(images/developer.png) ;
    background-repeat: no-repeat;
    background-position: right bottom,left;
}
h1.name{
    font-size: 300%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hi{
    font-size: 200%;
    margin-top: 180px;
    margin-bottom: 30px;
}
.about{
    margin: 10px 0;
    text-align: justify;
}
a.lmore{
    border: 2px solid #be7017;
    color: #be7017;
    border-radius: 2px;
    height: 50px;
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    align-content: center;
}
a.lmore:hover{
    text-decoration: none;
    color: #2d1303;
    background-color: #be7017;
}
.about{
    margin: 420px 350px 100px;
    text-align: center;
}
.aboutme{
    font-size: 200%;
    margin-bottom: 30px;
}
.allabout{
    margin-bottom: 30px;
}
table{
    margin: auto;
}
.tablec{
    display: flex;
}

    